<app-shadow-landing id="shadow-loyal-section" class="glitch-target" #mainContent animateOnScroll animationName="updateNav" navTitle="Shadow Loyal"></app-shadow-landing>

 <div id="shadow-section-wrapper">
 
	<div class="object-wrapper speed-1"><div id="shadow-bg-container"><div id="shadow-bg"></div></div></div>
	<div class="object-wrapper speed-2"><app-shadow-ops id="shadow-ops-section" class="glitch-target" animateOnScroll animationName="updateNav" navTitle="Shadow Ops"></app-shadow-ops></div>
	<div class="object-wrapper speed-2"><app-shadow-code id="shadow-code-section" class="glitch-target" animateOnScroll animationName="updateNav" navTitle="Shadow Code"></app-shadow-code></div>
	<div class="object-wrapper speed-2"><app-shadow-membership id="shadow-membership-section" class="glitch-target" animateOnScroll animationName="updateNav" navTitle="Membership"></app-shadow-membership></div>

		<mat-toolbar class="footer">
			<div>
				<p>DISCLAIMER: This website is for a gaming guild. All statements are made within the context of fictional environments, and should in no way be interpreted as real life beliefs, goals, or actions.</p>
			</div>
		</mat-toolbar>

</div>