<div id="shadow-code-panel" class="sly-dark-panel-border" animateOnScroll animationName="expand" [threshold]="0.1" intersectOffset="0%">
	<div class="sly-dark-panel">
		<div class="sly-dark-panel-header">
			<h3>The Shadow Code</h3>
		</div>
		<div class="sly-dark-panel-content">
			<p>Our guild is built on loyalty and trust. As such, every member is expected to act with the guiding principles of loyalty, integrity, and excellence. We have also set forth The Shadow Code. Any member acting against The Shadow Code will be expelled and forfeits all membership benefits.</p>
		</div>
	</div>
</div>
<div id="shadow-code-content">
	<div>
		<div id="shadow-code-1" class="sly-dark-panel-alt">
			<h3>Do no harm to the guild</h3>
			<ul>
				<li>Do not attack or steal from guild members.</li>
				<li>Do not interfere with an active job.</li>
				<li>Respect alliances.</li>
			</ul>
		</div>
	</div>
	<div>
		<div id="shadow-code-2" class="sly-dark-panel-alt">
			<h3>Protect the innocent</h3>
			<ul>
				<li>Do not attack or steal from the poor or misfortuned.</li>
				<li>Work to correct injustices.</li>
				<li>Subvert oppression.</li>
			</ul>
		</div>
	</div>
	<div>
		<div id="shadow-code-3" class="sly-dark-panel-alt">
			<h3>Support fellow guildmates</h3>
			<ul>
				<li>Always aid a guild member in need.</li>
				<li>Share your knowledge.</li>
				<li>Be willing to learn.</li>
			</ul>
		</div>
	</div>
</div>
<div id="triangle-wrapper" class="hidden-mobile">
<svg id="triangle" width="300" height="300" viewBox="0 0 10.5 12">
	<defs>
		<radialGradient id="bgGradient" r="100%">
		  <stop offset="10%" stop-color="#64FFDA" />
		  <stop offset="95%" stop-color="#0c100d" />
		</radialGradient>
	  </defs>
	<!-- <path d="M 0 4 C 2 3 3 2 3 0 C 3 2 4 3 6 4 C 4 3 2 3 0 4" fill="url('#bgGradient')" fill-opacity="0.1" stroke="transparent"/> -->
	<!-- <path d="M 3.559 5.008 L 5 0 L 6.377 4.99 L 5.004 1.048 L 3.559 5.008 M 9.142 9.36 L 6.413 5.24 L 10 10 L 5.164 7.916 L 9.142 9.378 M 4.843 7.898 L 0 10 L 3.47 5.204 L 0.937 9.235 L 4.826 7.898" fill="url('#bgGradient')" fill-opacity="0.1" stroke="transparent"  stroke-width="0.01"/> -->
	<path d="M 3.759 5.008 L 5.2 0 L 6.577 4.99 L 5.204 1.048 L 3.759 5.008 M 6.8546 5.2048 L 10.4712 8.9567 L 5.4612 7.6542 L 9.5616 8.4362 L 6.8546 5.2048 M 5.1364 7.7872 L 0.0788 9.0433 L 3.7118 5.3558 L 0.9844 8.5158 L 5.1364 7.7872" fill="url('#bgGradient')" fill-opacity="0.1" stroke="transparent"  stroke-width="0.01"/>
	
</svg>
</div>