<div id="landing" class="glitch-target">
	<canvas id="logo-canvas"></canvas>
	<canvas id="popup-canvas" width="600"></canvas>
	<canvas id="popup-canvas-target"></canvas>
	<div id="landing-content"> <!-- top section -->
		<div id="content-title">
			<h1>The<br>Shadow<br>Loyal</h1>
		</div>
		<div id="content-body">
			<h2>We help people solve problems that others won’t</h2>
			<p>If you’re interested in joining SLY, or if you’re in need of <em>*ehem*</em> solutions to a problem – please, step into our office where we can discuss these matters freely. <span id="trigger-span">(Toggle the switch in the upper left corner)</span></p>
			<p>Feel free to browse our more traditional wares and services while you’re here.</p>
		</div>
		<span id="toggle-highlight"></span>
	</div>
	<div id="testimonial-container" class="sly-panel-alt"> <!-- bottom section -->
		<div class="row testimonial" id="testimonial-1">
			<img src="/assets/images/armored.png" height="100px">
			<div class="testimonial-content">
				<p><em>I know </em><u>a guy.</u><em> He can get you that hyper module for your engine, no problem.</em></p>
				<p class="testimonial-author"><strong>- Cousin Gravis -</strong></p>
			</div>
		</div>
		<div class="row testimonial" id="testimonial-2">
			<img src="/assets/images/alien.png" height="100px">
			<div class="testimonial-content">
				<p><em>I heard you're having trouble with the local thugs. I have </em><u>a friend</u><em> that can help.</em></p>
				<p class="testimonial-author"><strong>- Neighbor Mavic -</strong></p>
			</div>
		</div>
		<div class="row testimonial" id="testimonial-3">
			<img src="/assets/images/woman.png" height="100px">
			<div class="testimonial-content">
				<p><em>Listen, my cousin has </em><u>a friend</u><em> that can clear up that legal misunderstanding.</em></p>
				<p class="testimonial-author"><strong>- Roommate Tzim -</strong></p>
			</div>
		</div>
	</div>
</div>
