<div id="mission" class="glitch-target">
	<div id="mission-content-header">
		<h1>The rogue scholars of the metaverse</h1>
	</div>
	<div id="mission-content" class="page-content">
		<div class="sly-card-alt" animateOnScroll animationName="zoomOutRight">
			<div class="sly-card-alt-icon">
				<span class="material-symbols-outlined">point_scan</span>
			</div>
			<div class="sly-card-alt-content">
				<div class="sly-card-alt-header">
					<h3>Open Knowledge</h3>
				</div>
				<div class="sly-card-alt-body">
					<p>SLY is dedicated to the pursuit and free distribution of information, and we seek to create an inclusive environment where that information can be shared.</p>
				</div>
			</div>
		</div>
		<div id="star-mission-card-2" class="sly-card-alt" animateOnScroll animationName="zoomOutLeft">
			<div class="sly-card-alt-icon">
				<span class="material-symbols-outlined">api</span>
			</div>
			<div class="sly-card-alt-content">
				<div class="sly-card-alt-header">
					<h3>Problem Solving</h3>
				</div>
				<div class="sly-card-alt-body">
					<p>We strive to advance innovation by demonstrating creative solutions to common problems.</p>
				</div>
			</div>
		</div>
		<div class="sly-card-alt" animateOnScroll animationName="zoomOutRight">
			<div class="sly-card-alt-icon">
				<span class="material-symbols-outlined">code</span>
			</div>
			<div class="sly-card-alt-content">
				<div class="sly-card-alt-header">
					<h3>Research and Development</h3>
				</div>
				<div class="sly-card-alt-body">
					<p>We conduct research, perform analysis, and develop tools to enhance the experience of community members.</p>
				</div>
			</div>
		</div>
	</div>
</div>