<div id="shadow-ops-panel" class="sly-dark-panel-border" animateOnScroll animationName="expand" [threshold]="0.1" intersectOffset="0%">
	<div class="sly-dark-panel">
		<div class="sly-dark-panel-header">
			<h3>Shadow Operations</h3>
		</div>
		<div class="sly-dark-panel-content">
			<p>The Star Loyal is a legitimate operation. It is also a cover for our covert operations business. Justice sometimes requires operating beyond the confines of the law. We use misdirection, misinformation, deception, and stealth to ensure societal freedom and equal opportunity. In this capacity, we are The Shadow Loyal.</p>
			<p>For those who have shown themselves trustworthy and aligned with our principles, we offer covert operations services ranging from mundane lock picking to high tech cyber warfare and espionage.</p>
		</div>
	</div>
</div>
<div id="shadow-ops-content">
	<div id="shadow-ops-list">
		<div id="shadow-ops-list-left">
			<div class="sly-list-item" tabindex="-1">
				<div class="sly-list-item-icon">
					<span class="material-symbols-outlined">point_scan</span>
				</div>
				<div class="sly-list-item-content">
					<div class="sly-list-item-header">
						<h3>Bounty clearing</h3>
					</div>
					<div class="sly-list-item-body">
						<p>We will restore your good standing with the authorities.</p>
					</div>
				</div>
			</div>
			<div class="sly-list-item" tabindex="-1">
				<div class="sly-list-item-icon">
					<span class="material-symbols-outlined">point_scan</span>
				</div>
				<div class="sly-list-item-content">
					<div class="sly-list-item-header">
						<h3>Reverse engineering</h3>
					</div>
					<div class="sly-list-item-body">
						<p>Ensure your devices are safe (e.g. contains no malicious logic) and free of unwanted listeners or beacons.</p>
					</div>
				</div>
			</div>
			<div class="sly-list-item" tabindex="-1">
				<div class="sly-list-item-icon">
					<span class="material-symbols-outlined">point_scan</span>
				</div>
				<div class="sly-list-item-content">
					<div class="sly-list-item-header">
						<h3>Smuggling</h3>
					</div>
					<div class="sly-list-item-body">
						<p>From avoiding unfair taxes to supplying resources to a planet under siege, we ensure safe delivery.</p>
					</div>
				</div>
			</div>
			<div class="sly-list-item" tabindex="-1">
				<div class="sly-list-item-icon">
					<span class="material-symbols-outlined">point_scan</span>
				</div>
				<div class="sly-list-item-content">
					<div class="sly-list-item-header">
						<h3>Counter surveillance</h3>
					</div>
					<div class="sly-list-item-body">
						<p>We help ensure safety and privacy by preventing unwanted monitoring, tracking, and pursuit.</p>
					</div>
				</div>
			</div>
			<div class="sly-list-item" tabindex="-1">
				<div class="sly-list-item-icon">
					<span class="material-symbols-outlined">point_scan</span>
				</div>
				<div class="sly-list-item-content">
					<div class="sly-list-item-header">
						<h3>Black market acquisitions</h3>
					</div>
					<div class="sly-list-item-body">
						<p>Technologies are often outlawed purely for an economic advantage. We believe all beings should have access to technologies which can improve their way of life.</p>
					</div>
				</div>
			</div>
		</div>
		<div id="shadow-ops-list-right">
			<div class="sly-list-item" tabindex="-1">
				<div class="sly-list-item-icon">
					<span class="material-symbols-outlined">point_scan</span>
				</div>
				<div class="sly-list-item-content">
					<div class="sly-list-item-header">
						<h3>Extraction / Breakouts</h3>
					</div>
					<div class="sly-list-item-body">
						<p>If your best friend is detained unjustly or being treated unfairly, our exfiltration experts will liberate them.</p>
					</div>
				</div>
			</div>
			<div class="sly-list-item" tabindex="-1">
				<div class="sly-list-item-icon">
					<span class="material-symbols-outlined">point_scan</span>
				</div>
				<div class="sly-list-item-content">
					<div class="sly-list-item-header">
						<h3>Cyber warfare</h3>
					</div>
					<div class="sly-list-item-body">
						<p>We provide specialist support to disrupt opponent cyber capabilities.</p>
					</div>
				</div>
			</div>
			<div class="sly-list-item" tabindex="-1">
				<div class="sly-list-item-icon">
					<span class="material-symbols-outlined">point_scan</span>
				</div>
				<div class="sly-list-item-content">
					<div class="sly-list-item-header">
						<h3>Espionage</h3>
					</div>
					<div class="sly-list-item-body">
						<p>Our experts perform targeted information extraction as well as long-term data gathering.</p>
					</div>
				</div>
			</div>
			<div class="sly-list-item" tabindex="-1">
				<div class="sly-list-item-icon">
					<span class="material-symbols-outlined">point_scan</span>
				</div>
				<div class="sly-list-item-content">
					<div class="sly-list-item-header">
						<h3>Sabotage</h3>
					</div>
					<div class="sly-list-item-body">
						<p>The next time some upstart declares themself Emperor and tries to enslave your home planet, SLY can neutralize the oppressor’s advantages.</p>
					</div>
				</div>
			</div>
			<div class="sly-list-item" tabindex="-1">
				<div class="sly-list-item-icon">
					<span class="material-symbols-outlined">point_scan</span>
				</div>
				<div class="sly-list-item-content">
					<div class="sly-list-item-header">
						<h3>Thieving</h3>
					</div>
					<div class="sly-list-item-body">
						<p>When Mega-Corp tries to monopolize or price gouge essential goods and services, we can ensure those things are made accessible to those in need.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="shadow-ops-pricing" class="sly-dark-panel-alt">
		<h3>Pricing</h3>
		<p>Our goal is to make the client whole. We make every effort to recover our expenses from the target, so this means there is generally no cost to our client. If the job does not provide an expense recovery opportunity, we will work with the client to establish a mutually beneficial fee.</p>
	</div>
</div>