<div id="bg-wrapper">
  <div id="bg-circle"></div>
</div>
<div id="sly-wrapper">
	<mat-toolbar class="header">
		<div class="left-header">
			<mat-slide-toggle [formControl]="toggleControl" id="room-toggle"><span *ngIf=!isDark>Front Room</span><span *ngIf=isDark>Back Room</span></mat-slide-toggle>
		</div>
		<div class="center-header">
			<ng-lottie id="logo"
				[options]="options"
				(animationCreated)="animationCreated($event)">
			</ng-lottie>
		</div>
		<div class="right-header">
			<button mat-icon-button [matMenuTriggerFor]="menu" class="nav-menu" aria-label="Menu">
				{{ title }}<span class="material-symbols-outlined">more_vert</span>
			</button>
			<mat-menu #menu="matMenu">
				<button *ngIf=!isDark mat-menu-item (click)="scrollToSection($event, 'star-loyal-section')" aria-current="page">Star Loyal</button>
				<button *ngIf=!isDark mat-menu-item (click)="scrollToSection($event, 'star-mission-section')" aria-current="page">Mission</button>
				<button *ngIf=!isDark mat-menu-item (click)="scrollToSection($event, 'star-services-section')" aria-current="page">Services</button>
				<button *ngIf=!isDark mat-menu-item (click)="scrollToSection($event, 'star-work-section')" aria-current="page">Our Work</button>
				<button *ngIf=isDark mat-menu-item (click)="scrollToSection($event, 'shadow-loyal-section')" aria-current="page">Shadow Loyal</button>
				<button *ngIf=isDark mat-menu-item (click)="scrollToSection($event, 'shadow-membership-section')" aria-current="page">Membership</button>
				<button *ngIf=isDark mat-menu-item (click)="scrollToSection($event, 'shadow-ops-section')" aria-current="page">Shadow Ops</button>
				<button *ngIf=isDark mat-menu-item (click)="scrollToSection($event, 'shadow-code-section')" aria-current="page">Shadow Code</button>
			</mat-menu>
		</div>
	</mat-toolbar>

	<main>
		<router-outlet></router-outlet>
	</main>


</div>