<app-star-landing id="star-loyal-section" animateOnScroll animationName="updateNav" navTitle="Star Loyal"></app-star-landing>

 <div id="section-wrapper-test">
	<div class="object-wrapper speed-1"><div id="section-bg-container"><div id="section-bg"></div></div></div>
	<div class="object-wrapper speed-2"><div id="widget-1" class="glitch-target hidden-mobile"><img src="/assets/images/widget_1.png"/></div></div>
	<div class="object-wrapper speed-2"><div id="widget-2" class="glitch-target hidden-mobile"><img src="/assets/images/widget_2.png"/></div></div>
	<div class="object-wrapper speed-2"><div id="widget-3" class="glitch-target hidden-mobile"><img src="/assets/images/widget_3.png"/></div></div>
	<div class="object-wrapper speed-2"><div id="widget-4" class="glitch-target hidden-mobile"><img src="/assets/images/widget_4.png"/></div></div>
	<div class="object-wrapper speed-2"><div id="widget-5" class="glitch-target hidden-mobile"><img src="/assets/images/widget_5.png"/></div></div>
	<div class="object-wrapper speed-2"><div id="widget-6" class="glitch-target hidden-mobile"><img src="/assets/images/widget_6.png"/></div></div>
	<div class="object-wrapper speed-2"><div id="widget-7" class="glitch-target hidden-mobile"><img src="/assets/images/widget_7.png"/></div></div>
	<div class="object-wrapper speed-2"><div id="widget-8" class="glitch-target hidden-mobile"><img src="/assets/images/widget_8.png"/></div></div>
	<div class="object-wrapper speed-2"><app-star-mission id="star-mission-section" animateOnScroll animationName="updateNav" navTitle="Mission"></app-star-mission></div>
	<div class="object-wrapper speed-2"><app-star-services id="star-services-section" animateOnScroll animationName="updateNav" navTitle="Services"></app-star-services></div>
	<div class="object-wrapper speed-2"><app-star-work id="star-work-section" animateOnScroll animationName="updateNav" navTitle="Work"></app-star-work></div>

		<mat-toolbar class="footer">
			<div>
				<p>DISCLAIMER: This website is for a gaming guild. All statements are made within the context of fictional environments, and should in no way be interpreted as real life beliefs, goals, or actions.</p>
			</div>
		</mat-toolbar>

</div>